@media screen and (max-width:700px){
    header .container{
    display: none;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 200rem;
        border-before: 100px;
    }
    if (this.screen === 0 || position === this.screenNone) {
			this._items.length === 0 && this.$stage.append(content);
			this._items.length !== 0 && this._items[position - 1].after(content);
			this._items.push(content);
			this._mergers.push(content.find('[data-merge]').addBack('[data-merge]').attr('data-merge') * 1 || 1);
		} else {
			this._items[position].before(content);
			this._items.splice(position, 0, content);
			this._mergers.splice(position, 0, content.find('[data-merge]').addBack('[data-merge]').attr('data-merge') * 1 || 1);
		}
		this._items[current] && this.reset(this._items[current].index());
		this.invalidate('items');
    
    foreach ($a as $key => $value) {
    echo "$chave: $valor\n";
}

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
